__pycache__
/logs
/bin
/backup/*.xlsx
~$*.xlsx
~$*.docx

/*.zip
/dist/*.zip
/dist/**/**
/*.tmp

data/archive/**/*
!data/archive/.gitkeep
data/input/**/*
!data/input/.gitkeep
data/failed/**/*
!data/failed/.gitkeep
data/db/**/*
!data/db/.gitkeep

_tmp
tests/SD/random_contents
docs/**/bla